<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>idle</key>
		<dict>
			<key>filename</key>
			<string>images/idle%02d.png</string>
			<key>size</key>
			<string>4</string>
			<key>delay</key>
			<string>0.2</string>
		</dict>
		<key>idleDown</key>
		<dict>
			<key>filename</key>
			<string>images/idleDown%02d.png</string>
			<key>size</key>
			<string>4</string>
			<key>delay</key>
			<string>0.2</string>
		</dict>
		<key>idleUp</key>
		<dict>
			<key>filename</key>
			<string>images/idleUp%02d.png</string>
			<key>size</key>
			<string>4</string>
			<key>delay</key>
			<string>0.2</string>
		</dict>
		<key>run</key>
		<dict>
			<key>filename</key>
			<string>images/run%02d.png</string>
			<key>size</key>
			<string>4</string>
			<key>delay</key>
			<string>0.2</string>
		</dict>
		<key>runDown</key>
		<dict>
			<key>filename</key>
			<string>images/runDown%02d.png</string>
			<key>size</key>
			<string>4</string>
			<key>delay</key>
			<string>0.2</string>
		</dict>
		<key>runUp</key>
		<dict>
			<key>filename</key>
			<string>images/runUp%02d.png</string>
			<key>size</key>
			<string>4</string>
			<key>delay</key>
			<string>0.2</string>
		</dict>
	</dict>
</dict>
</plist>
